

 .bg-color-green {

background-color: #385170 !important;
color:#ffffff !important;
    
 }

 .bg-color-dark-blue {

    background-color: #142D4C !important;   
    
    }
 .bg-color-lg-blue {

background-color: #9FD3C7 !important;   

}

.bg-color-grey{

background-color:#ECECEC !important;


}

.txt-color{
    color: #142D4C;

}

.txt-color-lb{
  color: #0dcaf0;

}

.title-main {
  margin: 10px;
  padding: 18px;
  font-size: 1.8rem;
  color: #142D4C;

}
.title-reserva {
  margin: 10px;
  padding: 18px;
  font-size: 1.3rem;
  color: #142D4C;

}

.img-fluid {
  max-width: 70% !important;
  height: auto;
}
.img-margin {
  margin: 15px !important;
}
.img-margin-top {
  margin-top: 10px !important;
}
.btn-margin{
  margin-top: 30px !important;
}
.cards-size {

height: 515px !important;
width: 20rem;
margin: 1.5rem;

}

.card-color {
background-color: #ebebeb !important;

}

.form-margin{

    margin: 1rem;
}
.icon-size{
  font-size: 1.8rem;
}

.txt-bold{
font-weight: 700 !important;
font: size 2.5rem;
}

.title-Margin{
  margin: 20px;
  padding: 20px;
}

.swal-overlay {
    background-color: rgba(159, 211, 199, 0.55);
  }

.swal-button {
    padding: 7px 29px;
    border-radius: 20px;
    background-color: #142D4C;
    font-size: 12px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }
  .swal-title {
    margin: 0px;
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 28px;
  }
  .swal-text {
  
    padding: 17px;
    display: block;
    font-size: 1.5rem;
    margin: 22px;
    text-align: center;
    color: #61534e;
  }